{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is my spotify!!!</h1>
    <h2>Albums</h2>
    <p> {% for album in albums %}
        {{ album.name }} - {{ album.genre}} 
        <img height="400" width="300" src="{{ album.image.url }}" alt="">
        {% endfor %}</p>

    <h2>Songs</h2>
    {% for song in songs %}
    {{ song.name }} - {{ song.album }}
    {% endfor %}
</body>
</html>